.accordion {
    &__list {
    }

    &__list-item {
        overflow: hidden;
    }

    &__button {
        position: relative;
        width: 100%;
        justify-content: initial;
        text-align: initial;
    }

    &__button--plus {
        &.accordion__button--active svg {
            background-color: #E84244;
            color: #fff;
        }
        .accordion__button-text {
            padding-right: 10px;
        }
        &:hover, &:focus {
            color: #E84244;
            svg {
                background-color: #E84244;
                color: #fff;
            }
        }
        svg {
            flex: 0 0 auto;
            overflow: hidden;
            width: em(24);
            height: em(24);
            border-radius: 50%;
            background-color: #fff;
            margin-left: auto;
            color: #6C6D79;
            transition: color .15s ease-in, background-color .15s ease-in;
        }
    }

    &__button-text {
        word-break: break-word
    }

    &__panel {
        height: 0;
        overflow: hidden;
        transition: height .2s ease-out;
    }

    &__body {
    }
}


.accordion--theme-default {
    .accordion {
        &__list-item {
            margin-bottom: em(24);
        }
        &__button {
            padding-left: em(5);
            &::before {
                flex: 0 0 auto;
                content: '';
                display: block;
                width: em(10);
                height: em(6);
                margin-right: em(10);
                background: url(../../../img/icons/arrow-accordion.svg) no-repeat center / contain;
            }
        }
        &__button--active::before {
            transform-origin: 50% 43%;
            transform: rotate(-180deg);
        }
        &__button-text {
            $font-size: 14;
            font-weight: bold;
            font-size: em($font-size);
            line-height: em(18, $font-size);
        }
        &__body {
            padding-top: em(20);
        }
    }
}

.accordion--theme-content {
    .accordion {
        &__list-item {
            border-bottom: 1px solid #E5E5E5;
        }
        &__button {
            padding-top: em(7);
            padding-bottom: em(7);
            min-height: em(82);
            &:focus {
                outline: 0;
            }
        }
        &__button-text {
            font-weight: normal;
            font-size: inherit;
            line-height: em(24);
        }
        &__body {
            line-height: em(24);
            color: #333;
        }
    }
}

.accordion--theme-normal {
    .accordion {
        &__button {
            padding: em(10) em(5) em(10) 0;
            min-height: em(82);
            &::after {
                flex: 0 0 auto;
                content: '';
                display: block;
                width: em(10);
                height: em(6);
                margin-left: auto;
                background: url(../../../img/icons/arrow-accordion.svg) no-repeat center / contain;
            }
        }
        &__button-text {
            $font-size: 18;
            font-weight: bold;
            font-size: em($font-size);
            line-height: em(24, $font-size);
            padding-right: em(10);
        }
        &__panel {
            border-bottom: 1px solid #E5E5E5;
        }
    }
}

.accordion__list--numeric {
    counter-reset: item;
    .accordion__list-item {
        position: relative;
        padding-left: em(44);
    }
    .accordion__button {
        position: initial;
        display: flex;
        text-align: left;
        min-height: em(66);
        &::before {
            content: counter(item, decimal-leading-zero) ". ";
            counter-increment: item;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 600;
            $font-size: 24;
            font-size: em($font-size);
            line-height: 1;
            position: absolute;
            left: 0;
            color: #E84244;
        }
    }
    .accordion__button-text {
        $font-size: 18;
        font-weight: bold;
        font-size: em($font-size);
        line-height: em(24 ,$font-size);
    }
}


@media (max-width: 767px) {
    .accordion__button--plus svg {
        font-size: 14px;
    }
    .accordion--theme-content .accordion__button {
        min-height: em(63);
    }
    .accordion__list--numeric {
        .accordion__list-item {
            padding-left: em(34);
        }
        .accordion__button {
            min-height: em(44);
            &::before {
                font-size: em(18);
                line-height: inherit;
            }
        }
        .accordion__button-text {
            font-weight: normal;
        }
    }
    .accordion--theme-normal .accordion__button {
        min-height: em(66);
    }
}
