.benefit-item {
    height: 100%;

    &__inner {
        height: 100%;
        padding: em(20);
        border: 1px solid #E5E5E5;
        transition: color .1s ease-in, background-color .2s ease-in, border-color .2s ease-in, box-shadow .2s ease-in;
        &:hover, &:focus {
            color: #fff;
            background-color: #E84244;
            border-color: #E84244;
            box-shadow: 0 0 em(10) rgba(#E84244, .7);
        }
    }

    &__head {
    }

    &__body {
        padding-top: em(10);
    }

    &__icon {
        width: em(24);
        height: em(24);
    }

    &__title {
        $font-size: 14;
        font-weight: bold;
        font-size: em($font-size);
        line-height: em(18, $font-size);
        margin-bottom: 0;
    }
}
