.breadcrumbs {
    &__inner {
        padding: em(15) 3vw;
        background-color: #F7F6FA;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__list-item {
        $font-size: 12;
        font-size: em($font-size);
        line-height: em(16, $font-size);
        color: #6C6D79;
        display: flex;
    }

    &__list-item:last-child {
        color: #0D0D0D;
    }

    &__list-item:not(:last-child)::after {
        content: '/';
        display: inline-block;
        margin: 0 em(5);
    }

    &__link {
        color: inherit;
        &:hover, &:focus {
            color: inherit;
        }
    }
}


@media (max-width: 575px) {
    .breadcrumbs__inner {
        padding: em(15);
    }
}
