.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: inherit;
    border: 0;
    padding: 0;
    color: inherit;
    cursor: pointer;
    user-select: none;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    transition: color .1s ease-in, background-color .1s ease-in;
    font-family: inherit;
    font-weight: inherit;
    &:hover, &:focus {
        text-decoration: none;
        color: inherit;
    }

    &__text {
        flex: 1 1 auto;
        text-overflow: ellipsis;
        line-height: normal;
    }

    &__icon {
    }

    &__icon--phone {
        width: em(10);
        height: em(10);
        margin-right: em(6);
        & + .button__text { padding-right: em(16); }
    }

    &__icon--home {
        width: em(16);
        height: em(14);
        margin-right: em(6);
        & + .button__text { padding-right: em(16); }
    }

    &__icon--shield {
        width: em(24);
        height: em(24);
        margin-right: em(6);
        & + .button__text { padding-right: em(16); }
    }

    &__icon--calc {
        width: em(20);
        height: em(20);
        margin-right: em(8);
        & + .button__text { padding-right: em(20); }
    }
}

.button--full-w {
    width: 100% !important;
    min-width: initial !important;
    max-width: initial !important;
}


// Sizes
.button--size-s { font-size: em(14); }
.button--size-m { font-size: em(16); }
.button--size-l { font-size: em(18); }


// Colors
.button--color-gray {
    background-color: #E5E5E5;
    &:disabled {
        cursor: auto;
        border: 1px solid #E5E5E5;
        background-color: #F7F6FA;
        .button__icon {
            color: #bababa;
        }
        .button__text {
            color: #bababa;
        }
    }
    &:not(:disabled) {
        &:hover, &:focus {
            background-color: darken(#E5E5E5, 5%);
        }
        &:active {
            background-color: darken(#E5E5E5, 10%);
        }
    }
    .button__icon {
        color: #E84244;
    }
    .button__text {
        color: #0D0D0D;
    }
    &.button--theme-empty {
        background-color: transparent;
        border-color: #E5E5E5;
        &:disabled {
            border: 1px solid #E5E5E5;
            background-color: #F7F6FA;
            .button__icon {
                color: #bababa;
            }
            .button__text {
                color: #bababa;
            }
        }
        &:not(:disabled) {
            &:hover, &:focus {
                background-color: transparent;
                border-color: #E84244;
            }
            &:active {
                border-color: #333333;
                .button__icon { color: #333333; }
            }
        }
    }
}

.button--color-red {
    background-color: #EC4D4B;
    &:disabled {
        cursor: auto;
        border: 1px solid #E5E5E5;
        background-color: #F7F6FA;
        .button__icon {
            color: #bababa;
        }
        .button__text {
            color: #bababa;
        }
    }
    &:not(:disabled) {
        &:hover, &:focus {
            background-color: #D3474B;
        }
        &:active {
            background-color: #333333;
        }
    }
    .button__text {
        color: #fff;
    }
    .button__icon {
        color: #fff;
    }
    &.button--theme-empty {
        background-color: transparent;
        border-color: #EC4D4B;
        .button__text {
            color: #0D0D0D;
        }
        .button__icon {
            color: #EC4D4B;
        }
        &:disabled {
            border: 1px solid #E5E5E5;
            background-color: #F7F6FA;
            .button__icon {
                color: #bababa;
            }
            .button__text {
                color: #bababa;
            }
        }
        &:not(:disabled) {
            &:hover, &:focus {
                border-color: #D3474B;
                background-color: #D3474B;
                .button__text { color: #fff; }
                .button__icon { color: #fff; }
            }
            &:active {
                border-color: #333333;
                background-color: #333333;
                .button__text { color: #fff; }
                .button__icon { color: #fff; }
            }
        }
    }
}

.button--theme-collapse {
    width: em(34);
    height: em(34);
    border-radius: em(4);
    .button__text {
        display: none;
    }
    .button__icon {
        margin-right: 0;
    }
}

// Themes
.button--theme-default {
    min-width: em(160);
    min-height: em(36);
    padding: em(5) em(10);
    border-radius: em(4);
    .button__text {
        $font-size: 14;
        font-weight: bold;
        font-size: em($font-size);
        line-height: em(18, $font-size);
    }
}

.button--theme-bold {
    min-width: em(240);
    min-height: em(50);
    padding: em(5) em(10);
    border-radius: em(4);
    .button__text {
        $font-size: 14;
        font-weight: bold;
        font-size: em($font-size);
        line-height: em(18, $font-size);
    }
}

.button--theme-empty {
    min-width: em(160);
    min-height: em(36);
    padding: em(5) em(10);
    border-radius: em(4);
    border: 1px solid transparent;
    .button__text {
        $font-size: 14;
        font-weight: bold;
        font-size: em($font-size);
        line-height: em(18, $font-size);
    }
}

.button--theme-empty-light {
    @extend .button--theme-empty;
    min-height: em(30);
    .button__text {
        $font-size: 14;
        font-weight: normal;
        line-height: em(20, $font-size);
    }
}

.button--theme-link {
    text-decoration: underline;
    &:hover, &:focus {
        text-decoration: none;
        .button__icon {
            color: darken(#E84244, 13%);
        }
    }
    .button__text {
        line-height: em(24);
    }
    .button__icon {
        margin-left: em(10);
        color: #E84244;
    }
}


@media (max-width: 400px) {
    .button--theme-default,
    .button--theme-bold,
    .button--theme-empty {
        width: 100% !important;
        max-width: 100% !important;
        min-width: 100% !important;
    }
}


@media (min-width: 992px) {
    .button--theme-collapse {
        width: initial;
        height: initial;
        padding: em(7) 0 em(7) em(7);
        transition: padding .3s ease-out;
        .button__icon {
            flex: 0 0 auto;
            margin-right: em(7);
        }
        .button__text {
            display: block;
            flex: 0 0 auto;
            $font-size: 14;
            font-weight: bold;
            font-size: em($font-size);
            line-height: em(18, $font-size);
            padding-right: 0;
            white-space: nowrap;
            overflow: hidden;
            width: 0;
            text-overflow: initial;
            transition: padding-right .3s ease-out, width .3s ease-out;
            text-align: left;
        }
        &:hover, &:focus {
            padding: em(15) em(7) em(15) em(19);
            .button__text {
                $font-size: 14;
                padding-right: em(7, $font-size);
                width: em(184, $font-size);
            }
        }
    }
}
