.calculator {
    &__info {
        overflow: hidden;
        border-radius: em(4);
        box-shadow: 0 0 em(20) rgba(#C6CED7, .4);
        .characteristic__value {
            max-height: em(125);
            display: block;
            overflow-x: hidden;
            line-height: normal;
        }
    }

    &__form-subtitle {
        line-height: em(24);
        letter-spacing: em(-0.2);
        margin-bottom: em(16);
        color: #333333;
    }

    &__actions {
        border-top: em(10) solid #fff;
    }
}

.calculator {
    .tabbed__section {
        background-color: #F7F6FA;
    }
}


@media (max-width: 1199px) {
    .calculator {
        &__info {
            .characteristic__table td:first-child {
                width: 40%;
            }
        }
    }
}

@media (max-width: 767px) {
    .calculator {
        .tabbed__list {
            display: block;
        }
        .tabbed__list-item {
            max-width: initial;
            font-size: 22px;
            .tabbed__button {
                padding-right: 0;
                border-bottom: 0;
                min-height: auto;
                &::after { display: none; }
            }
        }
        .tabbed__button:not([aria-selected="true"]) {
            position: absolute;
            overflow: hidden;
            bottom: 0;
            width: 1px;
            height: 1px;
            margin: -1px;
            padding: 0;
            clip: rect(0 0 0 0);
            clip-path: inset(50%);
            white-space: nowrap;
        }
    }
}
