.card-partner {
    width: 100%;
    height: 100%;

    &__inner {
        height: 100%;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 0 0 em(20) rgba(#C6CED7, .4);
        border-radius: em(4);
        padding: em(30) em(20);
    }

    &__head {
    }

    &__body {
        padding-top: em(20);
    }

    &__link {
        display: inline-block;
    }

    &__image {
        width: 100%;
        max-width: em(160);
        max-height: em(54);
    }

    &__title {
        $font-size: 18;
        font-weight: bold;
        font-size: em($font-size);
        line-height: em(24, $font-size);
        margin-bottom: em(10, $font-size);
        a {
            color: currentColor;
            &:hover, &:focus {
                color: currentColor;
            }
        }
    }

    &__text {
        $font-size: 14;
        font-size: em($font-size);
        margin-bottom: 0;
        color: #333;
    }
}


@media (max-width: 767px) {
    .card-partner__inner {
        padding: em(15);
    }
}
