.card-service {
    width: 100%;
    height: 100%;

    &__inner {
        height: 100%;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 0 0 em(20) rgba(#C6CED7, .4);
        border-radius: em(4);
        padding: em(20);
    }

    &__head {
    }

    &__body {
        padding-top: em(10);
    }

    &__image-container {
        flex: 0 0 auto;
        display: inline-block;
        width: em(60);
        height: em(60);
    }

    &__image {
    }

    &__title {
        $font-size: 18;
        font-weight: bold;
        font-size: em($font-size);
        line-height: em(24, $font-size);
        margin-bottom: em(10, $font-size);
        word-break: break-word;
    }

    &__text {
        $font-size: 14;
        font-size: em($font-size);
        margin-bottom: 0;
        color: #333;
    }
}

.card-service--light {
    .card-service__inner {
        border: 1px solid #E5E5E5;
        box-shadow: none;
        padding: em(10);
    }
    .card-service__body {
        padding-top: 0;
        padding-left: em(10);
    }
    .card-service__title {
        $font-size: 14;
        font-size: em($font-size);
        line-height: em(18, $font-size);
    }
}


@media (max-width: 1199px) {
    .card-service--light {
        .card-service__image-container {
            width: em(40);
            height: em(40);
        }
    }
}


@media (max-width: 767px) {
    .card-service__inner {
        padding: em(15);
    }
}
