.card-business {
    height: 100%;
    max-width: 300px;
    margin: 0 auto;

    &__inner {
        display: block;
        height: 100%;
        overflow: hidden;
        background-color: #fff;
        border: 1px solid #E5E5E5;
        border-radius: em(4);
        padding: em(20) em(17);
        color: currentColor;
        box-shadow: 0 0 0 transparent;
        transition: border-color .15s ease-in, box-shadow .15s ease-in;
        &:hover, &:focus {
            text-decoration: none;
            color: currentColor;
            border-color: transparent;
            box-shadow: 0 0 em(20) rgba(#C6CED7, .4);
            .card-business__image {
                color: #E84244;
            }
        }
    }

    &__head {
    }

    &__body {
        padding-top: em(20);
    }

    &__image-container {
        height: 100%;
        display: block;
        position: relative;
        padding-top: 72.59%;
    }

    &__image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        color: #707070;
        transition: color .15s ease-in;
    }

    &__title {
        $font-size: 14;
        font-weight: bold;
        font-size: em($font-size);
        line-height: em(18, $font-size);
        word-break: break-word;
        margin-bottom: 0;
    }
}
