.card-activity {
    height: 100%;

    &__inner {
        height: 100%;
        overflow: hidden;
        display: flex;
        background-color: #fff;
        border: 1px solid #E5E5E5;
        border-radius: em(4);
        color: currentColor;
        transition: box-shadow .2s ease-in;
        &[href]:hover, &[href]:focus {
            color: currentColor;
            box-shadow: 0 0 em(20) rgba(#C6CED7, .4);
        }
    }

    &__head {
        flex: 0 0 45.72%;
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: em(17) em(20);
    }

    &__image-container {
        height: 100%;
        display: block;
        position: relative;
        padding-top: 75.43%;
    }

    &__image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &__title {
        $font-size: 14;
        font-weight: bold;
        font-size: em($font-size);
        line-height: em(18, $font-size);
        word-break: break-word;
        margin-bottom: 0;
    }
}


@media (max-width: 767px) {
    .card-activity__head {
        flex: 0 0 40%;
    }
}

@media (max-width: 420px) {
    .card-activity__body {
        padding: em(10);
    }
}
