.card-category {
    &__inner {
        background-color: #fff;
        border: 1px solid #E5E5E5;
        border-radius: em(4);
        overflow: hidden;
    }

    &__head {
    }

    &__body {
        padding: em(30);
    }

    &__image {
        position: relative;
        padding-top: 47.434%;
        img {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    &__title {
        $font-size: 14;
        font-weight: bold;
        font-size: em($font-size);
        line-height: em(18, $font-size);
        margin-bottom:  em(10, $font-size);
        a {
            color: inherit;
            &:hover, &:focus {
                color: inherit;
            }
        }
    }

    &__list {
    }

    &__list-item {
        margin-bottom: em(10);
        line-height: em(18);
    }

    &__link {
        $font-size: 14;
        font-size: em($font-size);
        color: #3F3A88;
        text-decoration: underline;
        &:hover, &:focus {
            color: lighten(#3F3A88, 20%);
            text-decoration: none;
        }
    }
}
