.card-price {
    width: 100%;
    height: 100%;

    &__inner {
        height: 100%;
        padding: em(30);
        border-radius: em(4);
        box-shadow: 0 0 em(20) rgba(#C6CED7, .4);
        display: flex;
        flex-direction: column;
    }

    &__header {
    }

    &__main {
        flex: 1 1 auto;
    }

    &__footer {
        padding-top: em(6);
    }

    &__title {
        $font-size: 18;
        font-weight: bold;
        font-size: em($font-size);
        line-height: em(24, $font-size);
        margin-bottom: em(24, $font-size);
    }

    &__total {
        $font-size: 18;
        font-weight: bold;
        font-size: em($font-size);
        line-height: em(24, $font-size);
        margin-bottom: 0;
    }

    &__list {
    }

    &__list-item {
        display: flex;
        align-items: center;
        margin-bottom: em(16);
    }

    &__name {
        $font-size: 14;
        font-size: em($font-size);
        line-height: em(20, $font-size);
        padding-right: em(10, $font-size);
    }

    &__plus {
        flex: 0 0 auto;
        overflow: hidden;
        width: em(24);
        height: em(24);
        margin-left: auto;
        border-radius: 50%;
        background-color: #E84244;
        color: #fff;
    }

    &__minus {
        flex: 0 0 auto;
        width: em(24);
        height: em(24);
        margin-left: auto;
        color: #6C6D79;
    }
}


@media (max-width: 1199px) {
    .card-price__total {
        font-size: inherit;
    }
}

@media (max-width: 767px) {
    .card-price__inner {
        padding: em(15);
    }
}
