.card-news {
    height: 100%;

    &__inner {
        height: 100%;
        overflow: hidden;
        border: 1px solid #E5E5E5;
        border-radius: em(4);
        transition: box-shadow .2s ease-in;
        &:hover, &:focus {
            box-shadow: 0 0 em(20) rgba(#C6CED7, .4);
        }
    }

    &__head {
    }

    &__body {
        width: 100%;
        padding: em(10);
    }

    &__image-container {
        height: 100%;
        display: block;
        position: relative;
        padding-top: 56.9%;
    }

    &__image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &__title {
        $font-size: 14;
        font-weight: bold;
        font-size: em($font-size);
        line-height: em(18, $font-size);
        margin-bottom: em(10, $font-size);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        a {
            color: currentColor;
            &:hover, &:focus {
                text-decoration: underline;
            }
        }
    }

    &__desc {
        $font-size: 14;
        font-size: em($font-size);
        line-height: em(20, $font-size);
        margin-bottom: em(10, $font-size);
        color: #333333;
        max-height: em(95, $font-size);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial;
        /* autoprefixer: ignore next */
        display: -webkit-box;
        /* autoprefixer: ignore next */
        -webkit-line-clamp: 5;
        /* autoprefixer: ignore next */
        -webkit-box-orient: vertical;
    }

    &__metadata {
        $font-size: 12;
        font-size: em($font-size);
        line-height: em(16, $font-size);
        display: flex;
        align-items: center;
        svg {
            flex: 0 0 auto;
            width: em(19, $font-size);
            height: em(19, $font-size);
            margin-right: em(6, $font-size);
            color: #B5B6BC;
        }
    }
}


.card-news--large .card-news {
    &__inner {
        display: flex;
        flex-direction: row-reverse;
    }
    &__head {
        flex: 0 0 60.99%;
    }
    &__body {
        padding: em(30);
    }
    &__image-container {
        padding-top: 69.36%;
    }
    &__title {
        $font-size: 18;
        font-size: em($font-size);
        line-height: em(24, $font-size);
        min-height: em(46, $font-size);
        max-height: em(69, $font-size);
        white-space: initial;
        /* autoprefixer: ignore next */
        display: -webkit-box;
        /* autoprefixer: ignore next */
        -webkit-line-clamp: 3;
        /* autoprefixer: ignore next */
        -webkit-box-orient: vertical;
    }
    &__metadata:not(:last-child) {
        $font-size: 12;
        margin-bottom: em(10, $font-size);
    }
}


@media (max-width: 1199px) {
    .card-news--large {
        .card-news__title {
            $font-size: 16;
            font-size: em($font-size);
            max-height: em(67, $font-size);
        }
        .card-news__body {
            padding: 15px;
        }
        .card-news__desc {
            $font-size: 14;
            max-height: em(76, $font-size);
            /* autoprefixer: ignore next */
            -webkit-line-clamp: 4;
        }
    }
}

@media (max-width: 767px) {
    .card-news--large .card-news {
        &__inner {
            display: block;
        }
        &__body {
            padding: em(10);
        }
        &__image-container {
            height: auto;
            padding-top: 56.9%;
        }
        &__title {
            $font-size: 14;
            font-size: em($font-size);
            line-height: em(18, $font-size);
            margin-bottom: em(10, $font-size);
            min-height: initial;
            white-space: nowrap;
            display: block;
            /* autoprefixer: ignore next */
            -webkit-line-clamp: initial;
            /* autoprefixer: ignore next */
            -webkit-box-orient: initial;
        }
        &__desc {
            $font-size: 14;
            margin-bottom: em(15, $font-size);
        }
        &__metadata:not(:last-child) {
            margin-bottom: 0;
        }
    }
}
