.card-team {
    width: 100%;
    height: 100%;

    &__inner {
        height: 100%;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 0 0 em(20) rgba(#C6CED7, .4);
        border-radius: em(4);
        padding: em(20);
    }

    &__head {
    }

    &__body {
        padding-top: em(20);
    }

    &__image-container {
        display: inline-block;
        width: em(72);
        height: em(72);
        overflow: hidden;
        border-radius: 50%;
        box-shadow: 0 em(3) em(20) rgba(#000, .2);
    }

    &__image {
    }

    &__title {
        $font-size: 18;
        font-weight: bold;
        font-size: em($font-size);
        line-height: em(24, $font-size);
        margin-bottom: em(10, $font-size);
    }

    &__position {
        line-height: em(24);
        margin-bottom: em(10);
    }

    &__text {
        $font-size: 14;
        font-size: em($font-size);
        margin-bottom: 0;
        color: #333;
    }
}


@media (max-width: 767px) {
    .card-team__inner {
        padding: em(15);
    }
}
