.catalog {
    padding: em(30) 0 em(50);

    &__filter {
        padding-left: 10px !important;
    }
}


@media (max-width: 1199px) {
    .catalog {
        &__filter {
            padding: 0 !important;
        }
    }
}
