.characteristic {
    &__title {
        $font-size: 18;
        font-weight: bold;
        font-size: em($font-size);
        line-height: em(24, $font-size);
    }

    &__table {
        width: 100%;
        td {
            vertical-align: bottom;
            padding: 0;
            line-height: 1.15;
        }
        td:first-child {
            width: 37%;
            padding: em(7) em(2) em(7) 0;
            & > div {
                background: url(../../../img/icons/rounds.svg) 100% 90% repeat-x;
                padding-right: em(9);
            }
        }
        td:last-child {
            padding: em(7) 0 em(7) em(2);
        }
    }

    &__name {
        $font-size: 14;
        display: inline;
        font-size: em($font-size);
        background-color: #fff;
        color: #6C6D79;
        word-break: break-word;
    }

    &__name--sm {
        $font-size: 12;
        font-size: em($font-size);
        line-height: em(16, $font-size);
    }

    &__value {
        $font-size: 14;
        display: inline;
        font-size: em($font-size);
        background-color: #fff;
        word-break: break-word;
    }
}

.characteristic__table--width {
    td:first-child {
        width: initial;
    }
    td:last-child {
        width: 1%;
        white-space: nowrap;
    }
}

.characteristic__inner--limited {
    overflow-x: hidden;
    max-height: em(224);
    .characteristic__table {
        td:first-child {
            padding: em(4) em(2) em(4) 0;
        }
        td:last-child {
            padding: em(4) 0 em(4) em(2);
        }
    }
}
