.contacts {
    &__text {
        line-height: em(24);
        margin-bottom: 0;
        a {
            text-decoration-line: underline;
            color: #3F3A88;
            &:hover, &:focus {
                text-decoration-line: none;
                color: #3F3A88;
            }
        }
    }

    &__text--large {
        $font-size: 18;
        font-weight: bold;
        font-size: em($font-size);
        line-height: em(24, $font-size);
    }

    &__text--small {
        $font-size: 14;
        font-size: em($font-size);
        line-height: em(20, $font-size);
    }

    &__phone {
        $font-size: 18;
        font-weight: bold;
        font-size: em($font-size);
        line-height: em(24, $font-size);
        color: inherit;
        &[href] {
            display: inline-block;
        }
        &[href]:hover, &[href]:focus {
            color: currentColor;
        }
    }

    &__phone--accent {
        $font-size: 24;
        font-weight: bold;
        font-size: em($font-size);
        line-height: em(31, $font-size);
        letter-spacing: em(-1, $font-size);
        color: rgba(#2B257B, .9);
        &[href] {
            color: rgba(#2B257B, .9);
        }
        &[href]:hover, &[href]:focus {
            color: rgba(#2B257B, .9);
        }
    }
}
