.content {
    &--bg-gray {
        background-color: #F7F6FA;
    }

    &__table-container {
        width: 100%;
        overflow-x: auto;
        /* autoprefixer: ignore next */
        -webkit-overflow-scrolling: touch;
    }

    table {
        width: 100%;
        thead {
            th {
                $font-size: 18;
                padding: 0 em(12) em(33, $font-size);
                white-space: nowrap;
            }
            tr {
                border-bottom: 2px solid #fff;
            }
        }
        tr {
            &:not(:last-child) {
                border-bottom: 2px solid #fff;
            }
        }
        th {
            $font-size: 18;
            font-weight: bold;
            font-size: em($font-size);
            line-height: em(24, $font-size);
            padding: em(13, $font-size) em(12, $font-size);
        }
        td {
            line-height: em(24);
            padding: em(13) em(12);
        }
    }

    a {
        color: #E84244;
        text-decoration: underline;
        &:hover, &:focus {
            color: #E84244;
            text-decoration: none;
        }
    }

    p {
        line-height: em(24);
        margin-bottom: em(24);
        color: #333;
    }

    ul, ol {
        color: #333;
        padding-left: em(27);
        li {
            margin-bottom: em(25);
            ul, ol {
                margin-top: em(10);
                margin-bottom: em(20);
                li {
                    margin-bottom: em(7);
                }
            }
            ul {
                padding-left: em(15);
            }
        }
    }

    h3 {
        $font-size: 18;
        font-weight: bold;
        font-size: em($font-size);
        line-height: em(24, $font-size);
    }
}


@media (max-width: 767px) {
    .content table {
        thead {
            th {
                font-size: em(16);
                $font-size: 16;
                padding: 0 em(7) em(25, $font-size);
            }
        }
        th {
            font-size: em(16);
            $font-size: 16;
            padding: em(8, $font-size) em(7, $font-size);
        }
        td {
            padding: em(8) em(7);
        }
    }
}
