.detail-news {
    &__image-container {
        display: block;
        position: relative;
        padding-top: 52.745%;
        border-radius: em(4);
        overflow: hidden;
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__box {
        background-color: #F7F6FA;
    }

    &__metadata {
        $font-size: 12;
        font-size: em($font-size);
        line-height: em(16, $font-size);
        display: flex;
        align-items: center;
        svg {
            flex: 0 0 auto;
            width: em(19, $font-size);
            height: em(19, $font-size);
            margin-right: em(6, $font-size);
            color: #B5B6BC;
        }
    }
}
