.detail-product {
    &__box {
        background-color: #F7F6FA;
    }

    &__box--white {
        background-color: #fff;
        box-shadow: 0 0 em(20) rgba(#C6CED7, .4);
        border-radius: em(4);
    }

    &__price {
        display: inline-block;
        line-height: em(24);
        border-radius: em(3);
        padding: em(3) em(7);
        margin-bottom: em(4);
        background-color: #333;
        color: #fff;
    }

    &__price-value {
        white-space: nowrap;
        span {
            $font-size: 24;
            font-size: em($font-size);
            line-height: em(31, $font-size);
            font-weight: bold;
        }
    }

    &__discount {
        $font-size: 12;
        font-size: em($font-size);
        display: inline-block;
        line-height: em(16, $font-size);
        border-radius: em(3, $font-size);
        padding: em(7, $font-size);
        margin-bottom: em(4, $font-size);
        background-color: #F7F6FA;
    }

    &__discount-value {
        white-space: nowrap;
        span {
            $font-size: 24;
            font-size: em($font-size);
            line-height: em(31, $font-size);
            font-weight: bold;
        }
    }

    &__content {
        .heading,
        h2 {
            $font-size: 18;
            font-weight: bold;
            font-size: em($font-size);
            line-height: em(24, $font-size);
        }

        p {
            line-height: em(24);
            margin-bottom: em(24);
        }
    }

    .characteristic {
        max-width: 700px;
    }

    .characteristic__inner:not(.characteristic__inner--limited) {
        overflow-x: auto;
        .characteristic__table {
            min-width: 398px;
        }
    }
}

.detail-product__tabbed-list {
    .tabbed__button .button__text {
        $font-size: 18;
        font-size: em($font-size);
        line-height: em(24, $font-size);
    }
}


@media (max-width: 1199px) {
    .detail-product__tabbed-list {
        .tabbed__button .button__text {
            $font-size: 16;
            font-size: em($font-size);
        }
    }
}
