.document-item {
    height: 100%;
    max-width: 218px;
    margin: 0 auto;

    &__inner {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__head {
    }

    &__main {
        padding-top: em(15);
        flex: 1 1 auto;
    }

    &__footer {
        padding-top: em(20);
    }

    &__image-container {
        display: block;
        background-color: #fff;
        box-shadow: 0 em(4) em(5) rgba(#C6CED7, .4);
        border-radius: em(4);
        position: relative;
        padding-top: 130.7%;
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &__title {
        $font-size: 14;
        font-weight: bold;
        font-size: em($font-size);
        line-height: em(18, $font-size);
        margin-bottom: 0;
    }
}


@media (max-width: 1199px) {
    .document-item__button {
        font-size: 14px;
        padding: 5px;
        .button__icon {
            width: 18px;
            height: 18px;
            margin-right: 4px;
        }
        .button__text {
            padding-right: 0;
        }
    }
}
