.drawer {
    display: none;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overscroll-behavior: none;
    transition: background-color .3s cubic-bezier(.4, 0, .2, 1);

    &__hamburger {
        padding: em(30) em(26);
        pointer-events: auto;
    }

    &__inner {
        display: flex;
        height: 100%;
        width: 100%;
        max-width: 352px;
        margin-left: auto;
        bottomx-shadow: 0 0 7px rgba(#000, .7);
        transform: translateX(103%);
        transition: transform .3s cubic-bezier(.4, 0, .2, 1);
        pointer-events: none;
    }

    &__head {
    }

    &__body {
        flex: 1 1 auto;
        background-color: #F7F6FA;
        overflow: visible;
        overflow-y: auto;
        height: 100%;
        padding: em(30) em(30) em(35);
        display: flex;
        flex-direction: column;
        pointer-events: auto;
    }

    &__main {
        flex: 1 1 auto;
    }

    &__footer {
    }
}


.drawer__nav {
    .nav {
        &__list {
            padding: 0;
            width: 100%;
            flex-direction: column;
        }
        &__list-item {
            width: 100%;
        }
        &__list-item:not(:last-child) {
            margin-right: 0;
            margin-bottom: em(18);
        }
        &__link {
            padding: 0;
            $font-size: 16;
            font-weight: normal;
            font-size: em($font-size);
            line-height: em(24, $font-size);
            letter-spacing: em(-0.2, $font-size);
            display: flex;
            align-items: center;
            width: 100%;
        }
        &__text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &__baloon {
            $font-size: 12;
            font-size: em($font-size);
            padding: em(1, $font-size) em(5, $font-size) em(2, $font-size);
            border-radius: em(3, $font-size);
            line-height: normal;
            margin-left: em(13, $font-size);
            background-color: #E84244;
            color: #FFFFFF;
            white-space: nowrap;
        }
    }
}

.drawer--opened {
    pointer-events: auto !important;
    background-color: rgba(#fff, .94) !important;
    .drawer__inner {
        transform: translateX(0) !important;
    }
}


@media (max-width: 1199px) {
    .drawer {
        display: initial;
    }
}

@media (max-width: 767px) {
    .drawer__hamburger {
        padding: em(22) em(19);
    }
}
