.fieldset {
    legend {
        $font-size: 14;
        font-weight: bold;
        font-size: em($font-size);
        line-height: em(18, $font-size);
        margin-bottom: em(20, $font-size);
    }
}
