.filter {
    &.drawer {
        pointer-events: none !important;
        background-color: transparent !important;
    }

    .drawer__inner {
        width: 276px;
    }

    .drawer__body {
        background-color: #fff;
        padding: 0;
    }

    .drawer__main {
        padding: 0 em(20);
        overflow-x: auto;
    }

    .drawer__footer {
        padding: em(5) em(20) em(50);
    }

    .radio__text {
        color: #403B88;
    }

    .checkbox__text {
        color: #403B88;
    }

    &__header {
        padding: em(30) em(20) em(36);
    }

    &__title {
        $font-size: 18;
        font-weight: bold;
        font-size: em($font-size);
        line-height: em(24, $font-size);
        margin-bottom: 0;
    }

    &__close {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        padding: em(23);
        .button__icon {
            width: em(10);
            height: em(10);
        }
    }
}


@media (min-width: 1200px) {
    .filter {
        &.drawer {
            height: auto;
            position: static;
            display: block;
            border: 1px solid #E5E5E5;
            border-radius: em(4);
        }
        .drawer__inner {
            transition: none;
            transform: none;
        }
        .drawer__head {
            display: none;
        }
    }
}

@media (max-width: 1199px) {
    .filter {
        .drawer__inner {
            width: 290px;
        }
        .drawer__body {
            box-shadow: 0 0 7px rgba(#000, .25);
        }
        .drawer__main {
            padding: em(45) em(20) em(20);
        }
        .drawer__footer {
            box-shadow: 0 0 em(20) rgba(#C6CED7, .4);
            padding: em(17) em(20);
        }
        &__header {
            height: em(56);
            padding: 0 em(20);
            background-color: #E84244;
            box-shadow: 0 0 em(20) rgba(#C6CED7, .4);
            color: #fff;
        }
        &__title {
            text-align: center;
        }
    }
}

@media (max-width: 400px) {
    .filter .drawer__inner {
        width: 100%;
        max-width: 100%;
    }
}
