.filter-button {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: em(38);
    height: em(30);
    border-radius: em(3);
    color: #E84244;
    &:hover, &:focus {
        color: #E84244;
        background-color: #F7F6FA;
    }

    &__baloon {
        position: relative;
        z-index: 1;
        left: -8px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 14px;
        height: 14px;
        padding: 0 3px;
        margin-bottom: -8px;
        border-radius: 3px;
        font-size: 12px;
        line-height: 16px;
        background-color: #E84244;
        color: #fff;
    }

    svg {
        flex: 0 0 auto;
        width: em(22);
        height: em(20);
    }
}
