.fixed-button-calc {
    position: fixed;
    z-index: 190;
    top: 35%;
    right: 0;
    transform: translateY(-50%);
}


@media (max-width: 991px) {
    .fixed-button-calc {
        top: initial;
        bottom: 15px;
        right: 15px;
        transform: none;
    }
}
