.footer {
    &__line {
    }

    &__line--top {
    }

    &__line--center {
    }

    &__line--bottom {
        padding: em(46) 0;
    }

    &__body {
        background-color: #F7F6FA;
        padding: em(40) em(60) em(50);
    }

    &__form-container {
        max-width: 385px;
    }

    &__subtitle {
        line-height: em(24);
        letter-spacing: em(-0.2);
        margin-bottom: em(30);
        color: #333333;
    }

    &__list {
    }

    &__list-item:not(:last-child) {
        margin-bottom: em(10);
    }

    &__link {
        line-height: em(24);
        color: #0D0D0D;
        &:hover, &:focus {
            color: #0D0D0D;
        }
    }

    &__copyrigh {
        $font-size: 12;
        font-size: em($font-size);
        line-height: em(16, $font-size);
        margin-bottom: 0;
    }
}


@media (max-width: 1199px) {
    .footer {
        &__body {
            padding-top: em(20);
        }
        &__form-container {
            max-width: 100%;
            margin-bottom: em(80);
        }
    }
}

@media (max-width: 991px) {
    .footer {
        &__body {
            padding: em(20) em(30);
        }
        &__form-container {
            margin-bottom: em(60);
        }
    }
}

@media (max-width: 767px) {
    .footer {
        &__list {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: em(30);
        }
        &__list-item:not(:last-child) {
            margin-right: em(20);
        }
    }
}

@media (max-width: 575px) {
    .footer {
        &__body {
            padding: em(15);
        }
        &__copyrigh {
            text-align: center;
        }
    }
}
