.gallery-product {
    &__image-container {
        display: block;
        position: relative;
        padding-top: 90.09%;
        user-select: none;
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }

    &__thumb {
        cursor: pointer;
        overflow: hidden;
        display: block;
        position: relative;
        padding-top: 100%;
        border: 2px solid #E5E5E5;
        border-radius: em(6);
        user-select: none;
    }

    &__thumb-img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }

    .swiper-slide-thumb-active .gallery-product__thumb {
        border-color: #E84244;
    }
}


.gallery-product--detail {
    .gallery-product__image-container {
        padding-top: 54.796%;
    }
}
