$hamburger-layer-width   : 18px;
$hamburger-layer-height  : 2px;
$hamburger-layer-spacing : 3px;


@media (max-width: 767px) {
    .hamburger {
        padding: 12px 10px;

        .hamburger-box {
            width: $hamburger-layer-width;
            height: $hamburger-layer-height * 3 + $hamburger-layer-spacing * 2;
            display: inline-block;
            position: relative;
        }

        .hamburger-inner {
            margin-top: $hamburger-layer-height / -2;

            &,
            &::before,
            &::after {
                width: $hamburger-layer-width;
                height: $hamburger-layer-height;
            }

            &::before {
                top: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
            }

            &::after {
                bottom: ($hamburger-layer-spacing + $hamburger-layer-height) * -1;
            }
        }

        &.hamburger--3dx {
            .hamburger-box {
                perspective: $hamburger-layer-width * 2;
            }

            &.is-active {
                .hamburger-inner::before {
                    transform: translate3d(0, $hamburger-layer-height + $hamburger-layer-spacing, 0) rotate(45deg);
                }
                .hamburger-inner::after {
                    transform: translate3d(0, ($hamburger-layer-height + $hamburger-layer-spacing) * -1, 0) rotate(-45deg);
                }
            }
        }
    }
}
