.header {
    position: relative;
    z-index: 150;

    &--sticky {
        padding-bottom: 53px;
    }

    &--sticky .header__line--bottom {
        position: fixed;
        z-index: 150;
        top: -53px;
        transform: translateY(100%);
        left: 0;
        right: 0;
        box-shadow: 0 0 em(20) rgba(#C6CED7, .4);
        transition: transform .2s ease;
        .button { display: none; }
        .logo { display: block; }
    }

    &__line {
    }

    &__line--top {
        padding: em(25) 0;
        border-bottom: 1px solid #E5E5E5;
        background-color: rgba(#fff, .96);
    }

    &__line--bottom {
        height: 53px;
        background-color: rgba(#fff, .96);
        .logo { display: none; }
    }

    &__inner {
        position: relative;
    }

    &__text {
        $font-size: 14;
        font-size: em($font-size);
        color: #6C6D79;
    }
}

@media (min-width: 1200px) {
    .header:not(.header--sticky) {
        .header__line--top.compensate-for-scrollbar,
        .header__line--bottom.compensate-for-scrollbar {
            margin-right: 0 !important;
        }
    }
    .header {
        .header__line--top.compensate-for-scrollbar {
            margin-right: 0 !important;
        }
    }
}

@media (max-width: 1199px) {
    .header {
        padding-top: em(76);
        &__line--top {
            position: fixed;
            z-index: 150;
            top: 0;
            left: 0;
            right: 0;
            padding: em(18) 0;
            border-bottom: none;
            box-shadow: 0 0 em(20) rgba(#C6CED7, .4);
        }
    }
}

@media (max-width: 767px) {
    .header {
        padding-top: em(56);
        &__line--top {
            padding: em(10) 0;
        }
    }
}

@media (max-width: 419px) {
    .header__select-city {
        .select__control-container {
            padding-right: 0;
            padding-left: em(10);
        }
        .select__value {
            max-width: 134px;
        }
    }
}
