.icon {
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    line-height: 0;

    svg {
        max-width: 100%;
        max-height: 100%;
    }
}

.icon--close {
    width: em(32);
    height: em(32);
    background-image: url(../../../img/icons/close.svg);
}
