.input {
    &__label {
        cursor: pointer;
        display: inline-flex;
        flex-direction: column;
        margin-bottom: 0;
    }
    &__control {
        padding: 0;
        font-size: inherit;
        border: em(1) solid #E5E5E5;
        background-color: #fff;
        color: #333333;
        &::placeholder {
            color: #B1B1B1;
        }
        &:disabled {
            border-color: #E5E5E5;
            background-color: #f9f9f9;
            color: #bababa;
        }
    }
    &__filename {
        word-break: break-word;
        font-size: em(14);
        line-height: normal;
    }
    [type="file"]:focus + .button {
        outline: 1px solid #0078d7;
        /* autoprefixer: ignore next */
        outline: -webkit-focus-ring-color auto 5px;
    }
    textarea {
        resize: none;
        min-height: em(100);
    }
}

.input--full-w {
    .input__label {
        width: 100% !important;
    }
    .input__control {
        min-width: initial !important;
    }
}


// Sizes
.input--size-s { font-size: em(14); }
.input--size-m { font-size: em(16); }
.input--size-l { font-size: em(18); }


// Themes
.input--theme-default {
    .input__control {
        min-width: em(268);
        padding: em(13) em(10);
        border-radius: em(6);
        line-height: em(22);
    }
    .input__text {
        $font-size: 14;
        font-weight: bold;
        font-size: em($font-size);
        line-height: em(18, $font-size);
        padding-bottom: em(10, $font-size);
    }
}

.input--theme-simple {
    .input__control {
        width: em(90);
        padding: em(3) em(10);
        border-radius: em(6);
        line-height: em(22);
    }
}
