.input-validation {

    &--invalid {
        border-color: red !important;
        color: red !important;
        &::placeholder {
            color: red !important;
        }
    }

    &--valid {
    }

    &__message {
    }

    &__message .input-validation--invalid {
    }
}
