.link {
    cursor: pointer;
    color: inherit;
    text-decoration-skip-ink: none;

    &--underlined {
        text-decoration: underline;
        &:hover, &:focus {
            text-decoration: none;
        }
    }
    
    &--undecorated {
        text-decoration: none;
        &:hover, &:focus {
            text-decoration: none;
        }
    }
}
