.list {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    &.row {
        margin-left: -15px;
        margin-right: -15px;
    }
}

.list--unordered {
    padding-left: em(40);
    li {
        position: relative;
    }
    li::before {
        content: "\2022";
        font-family: initial;
        position: absolute;
        transform: translateX(-100%) scale(1.3);
        left: em(-7);
    }
}

.list--ordered {
    padding-left: em(40);
    counter-reset: item;
    li {
        position: relative;
    }
    li::before {
        content: counter(item) ". ";
        counter-increment: item;
        position: absolute;
        transform: translateX(-100%);
        left: em(-4);
    }
}

.list--numeric {
    counter-reset: item;
    .list__item {
        min-height: em(66);
        border-bottom: 1px solid #E5E5E5;
        position: relative;
        padding-left: em(44);
    }
    .list__item-title {
        $font-size: 18;
        font-weight: bold;
        font-size: em($font-size);
        line-height: em(24, $font-size);
        display: flex;
        align-items: center;
        text-align: left;
        &::before {
            content: counter(item, decimal-leading-zero) ". ";
            counter-increment: item;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: em(24, $font-size);
            $font-size: 24;
            line-height: inherit;
            position: absolute;
            left: 0;
            color: #E84244;
        }
    }
    .list__item-desc {
        font-weight: normal;
        line-height: em(24);
        color: #333;
        margin-bottom: 0;
    }
}


@media (max-width: 767px) {
    .list--numeric {
        .list__item {
            padding-left: em(40);
            min-height: em(55);
        }
        .list__item-title::before {
            font-size: em(18);
        }
    }
}
