.logo {
    &__link {
        display: block;
        width: 100%;
        max-width: em(160);
        max-height: em(26);
    }
}

.logo--small .logo__link {
    max-width: em(32);
    max-height: em(24);
}


@media (max-width: 767px) {
    .logo__link {
        max-width: em(93);
    }
}
