.map {
    &__inner {
        position: relative;
        height: 348px;
    }

    &__control {
        width: 100%;
        height: 100%;
        background-color: #f2f2f2;
    }
}


@media (max-width: 767px) {
    .map__inner {
        padding-top: 75%;
        height: auto;
    }
    .map__control {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 575px) {
    .map__inner {
        padding-top: 100%;
    }
}
