.nav-links {
    &__list {
    }

    &__list-item {
    }

    &__link {
        height: 100%;
        $font-size: 18;
        font-weight: bold;
        font-size: em($font-size);
        line-height: em(24, $font-size);
        min-height: em(82, $font-size);
        padding: em(10, $font-size) em(25, $font-size) em(10, $font-size) 0;
        word-break: break-word;
        position: relative;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #E5E5E5;
        color: currentColor;
        &:hover, &:focus {
            color: #E84244;
            text-decoration: none;
        }
        &::before {
            content: '';
            position: absolute;
            right: em(4);
            top: 50%;
            transform: translateY(-50%);
            width: em(10);
            height: em(6);
            background: url(../../../img/icons/arrow-accordion.svg) no-repeat center / contain;
        }
        &--active {
            color: #E84244;
            &::before {
                transform: translateY(-50%) rotate(-90deg);
            }
        }
    }
}

.nav-links--default .nav-links__link {
    font-weight: normal;
    font-size: initial;
    line-height: em(24);
    &::before {
        transform: translateY(-50%) rotate(-90deg);
    }
}


@media (max-width: 991px) {
    .nav-links__link {
        $font-size: 14;
        font-weight: bold;
        font-size: em($font-size);
        min-height: initial;
    }
}
