.nav-sitemap {
    &__inner {
        padding: em(50) em(60) em(50);
        background-color: #F7F6FA;
    }

    &__group:not(:last-child) {
        margin-bottom: em(18);
    }

    &__group + .nav-sitemap__link {
        position: relative;
        top: em(-10);
    }

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__list-item {
        max-width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__sublist {
    }

    &__sublist-item {
        margin-bottom: em(10);
        line-height: em(18);
    }

    &__title {
        $font-size: 14;
        font-weight: bold;
        font-size: em($font-size);
        line-height: em(18, $font-size);
        margin-bottom:  em(10, $font-size);
        a {
            color: inherit;
            &:hover, &:focus {
                color: inherit;
            }
        }
    }

    &__link {
        $font-size: 14;
        font-size: em($font-size);
        color: #3F3A88;
        text-decoration: underline;
        &:hover, &:focus {
            color: lighten(#3F3A88, 20%);
            text-decoration: none;
        }
    }

    &__link--red {
        color: #E84244;
        &:hover, &:focus {
            color: darken(#E84244, 10%);
        }
    }
}


@media (max-width: 991px) {
    .nav-sitemap {
        &__inner {
            padding: em(20) em(30);
        }
        &__group:not(:last-child) {
            margin-bottom: em(15);
        }
        &__list {
            flex-direction: column;
        }
        &__list-item {
            max-width: 100%;
        }
        &__list-item:not(:last-child) {
            margin-bottom: em(30);
        }
        &__sublist {
            display: flex;
            flex-wrap: wrap;
        }
        &__sublist-item {
            margin-right: em(20);
        }
    }
}

@media (max-width: 575px) {
    .nav-sitemap__inner {
        padding: em(15);
    }
}
