.nav {
    &__list {
        display: flex;
    }

    &__list-item {
        display: flex;
        align-items: center;
        &:not(.nav__list-item--show-menu) .nav__submenu {
            position: absolute;
            overflow: hidden;
            bottom: 0;
            width: 1px;
            height: 1px;
            margin: -1px;
            padding: 0;
            clip: rect(0 0 0 0);
            clip-path: inset(50%);
            white-space: nowrap;
        }
    }

    &__list-item--show-menu {
        .nav__link { color: #E84244; }
        .nav__link::after { display: block; }
        .nav__submenu {
            opacity: 1;
            transform: translateY(100%);
        }
    }

    &__list-item:not(:last-child) {
        margin-right: em(20);
    }

    &__link {
        $font-size: 14;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: em($font-size);
        line-height: em(18, $font-size);
        padding: em(18, $font-size) 0;
        color: inherit;
        &:hover, &:focus {
            color: #E84244;
            text-decoration: none;
        }
        &::after {
            content: '';
            display: none;
            position: absolute;
            bottom: -2px;
            left: 50%;
            transform: translateX(-50%);
            border: 7px solid transparent;
            border-bottom: 10px solid #F7F6FA;
        }
        svg {
            flex: 0 0 auto;
            margin-right: em(10, $font-size);
            color: #E84244;
        }
    }

    &__submenu {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #F7F6FA;
        box-shadow: 0 em(4) em(9) em(-5) rgba(#000, .5);
        opacity: 0;
        transform: translateY(98%);
        transition: opacity .2s ease, transform .1s ease;
    }

    &__sublist {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: em(40) em(60);
    }

    &__sublist-item {
        a {
            $font-size: 14;
            font-weight: bold;
            font-size: em($font-size);
            display: inline-block;
            padding: em(5) em(10, $font-size);
            line-height: em(18, $font-size);
            color: inherit;
            &:hover, &:focus {
                color: inherit;
            }
        }
    }
}
