.news-item {
    &__inner {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: hidden;
        border: 1px solid #E5E5E5;
        border-radius: em(4);
        transition: box-shadow .2s ease-in;
        &:hover, &:focus {
            box-shadow: 0 0 em(20) rgba(#C6CED7, .4);
        }
    }

    &__head {
    }

    &__body {
        min-width: 0;
        padding: em(30) em(30) em(20);
    }

    &__image-container {
        height: 100%;
        display: block;
        position: relative;
        padding-top: 56.9%;
    }

    &__image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &__title {
        $font-size: 18;
        font-weight: bold;
        font-size: em($font-size);
        line-height: em(24, $font-size);
        margin-bottom: em(10, $font-size);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        a {
            color: currentColor;
            &:hover, &:focus {
                text-decoration: underline;
            }
        }
    }

    &__description {
        $font-size: 14;
        font-size: em($font-size);
        max-height: em(80, $font-size);
        overflow: hidden;
        /* autoprefixer: ignore next */
        display: -webkit-box;
        /* autoprefixer: ignore next */
        -webkit-line-clamp: 4;
        /* autoprefixer: ignore next */
        -webkit-box-orient: vertical;
    }

    &__metadata {
        $font-size: 12;
        font-size: em($font-size);
        line-height: em(16, $font-size);
        display: flex;
        align-items: center;
        svg {
            flex: 0 0 auto;
            width: em(19, $font-size);
            height: em(19, $font-size);
            margin-right: em(6, $font-size);
            color: #B5B6BC;
        }
    }
}

.news-item--list .news-item {
    &__inner {
        display: flex;
        flex-direction: row;
    }
    &__head {
        flex: 0 0 47.801%;
    }
    &__body {
        padding: em(20) em(30);
    }
    &__image-container {
        padding-top: 56.9%;
    }
    &__title {
        $font-size: 18;
        font-size: em($font-size);
        line-height: em(24, $font-size);
        margin-bottom: em(10, $font-size);
    }
    &__metadata:not(:last-child) {
        $font-size: 12;
        margin-bottom: em(10, $font-size);
    }
}


@media (max-width: 1199px) {
    .news-item--list .news-item__description {
        $font-size: 14;
        max-height: em(60, $font-size);
        /* autoprefixer: ignore next */
        -webkit-line-clamp: 3;
    }
}

@media (max-width: 767px) {
    .news-item {
        &__body {
            padding: em(10);
        }
        &__title {
            $font-size: 14;
            font-size: em($font-size);
            line-height: em(18, $font-size);
            margin-bottom: em(10, $font-size);
            white-space: nowrap;
            /* autoprefixer: ignore next */
            display: block;
            /* autoprefixer: ignore next */
            -webkit-line-clamp: initial;
            /* autoprefixer: ignore next */
            -webkit-box-orient: initial;
        }
    }
    .news-item--list .news-item {
        &__inner {
            display: block;
        }
        &__body {
            padding: em(10);
        }
        &__image-container {
            height: auto;
            padding-top: 56.9%;
        }
        &__title {
            $font-size: 14;
            font-size: em($font-size);
            line-height: em(18, $font-size);
            margin-bottom: em(10, $font-size);
            white-space: nowrap;
            /* autoprefixer: ignore next */
            display: block;
            /* autoprefixer: ignore next */
            -webkit-line-clamp: initial;
            /* autoprefixer: ignore next */
            -webkit-box-orient: initial;
        }
        &__metadata:not(:last-child) {
            margin-bottom: 0;
        }
    }
}
