.page {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'PT Sans', sans-serif;
    line-height: 1.45;
    margin: 0;
    color: #000;

    &--no-scroll {
        overflow: hidden !important;
    }
}
