.pagination {
    &__list {
        display: flex;
    }

    &__list-item + .pagination__list-item .pagination__link {
        border-left: none;
    }

    &__list-item:first-child .pagination__link {
        border-radius: em(6) 0 0 em(6);
        min-width: em(94);
    }

    &__list-item:last-child .pagination__link {
        border-radius: 0 em(6) em(6) 0;
        min-width: em(94);
    }


    &__list-item + .pagination__list-item .pagination__link {
        border-left: none;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: em(24);
        letter-spacing: em(-0.2);
        min-width: em(41);
        padding: em(6);
        border: 1px solid #E5E5E5;
        background-color: #fff;
        color: #6C6D79;
        transition: color .025s ease-in, background-color .05s ease-in;
        &:hover, &:focus {
            background-color: #E84244;
            color: #fff;
            text-decoration: none;
        }
        &[href^="javascript"] {
            cursor: default;
            color: #E5E5E5 !important;
            &:hover, &:focus {
                color: #E5E5E5 !important;
                background-color: #fff !important;
            }
        }
    }
}


@media (max-width: 575px) {
    .pagination {
        &__list-item:first-child .pagination__link {
            min-width: em(63);
        }
        &__list-item:last-child .pagination__link {
            min-width: em(63);
        }
        &__link {
            $font-size: 14;
            font-size: em($font-size);
            min-width: em(27, $font-size);
        }
    }
}
