.popup-fancybox {
    &__inner {
        height: 100%;
    }
}

.popup-fancybox--decoration {
    padding: em(20);
    background-color: #F7F6FA;
    .fancybox-close-small {
        top: em(27);
        right: em(27);
    }
    .popup-fancybox__inner {
        border: 3px solid #fff;
        padding: em(50) em(40);
        min-height: em(100);
    }
}


@media (max-width: 575px) {
    .popup-fancybox--decoration {
        padding: em(40) em(15) em(25);
        .fancybox-close-small {
            top: 0;
            right: 0;
        }
        .popup-fancybox__inner {
            border: none;
            padding: 0;
        }
    }
}
