.product-image {
    &__inner {
        overflow: hidden;
        display: block;
        position: relative;
        padding-top: 71.67%;
        border-radius: em(4);
        box-shadow: 0 0 em(8) rgba(#C6CED7, .4);
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}

.product-image--light {
    .product-image__inner {
        box-shadow: none;
        padding-top: 76.4%;
    }
}
