.product-item {
    height: 100%;

    &__inner {
        height: 100%;
        overflow: hidden;
        border: 1px solid #E5E5E5;
        border-radius: em(4);
        transition: box-shadow .2s ease-in;
        &:hover, &:focus {
            box-shadow: 0 0 em(20) rgba(#C6CED7, .4);
        }
    }

    &__head {
    }

    &__body {
        width: 100%;
        padding: em(10);
    }

    &__image-container {
        height: 100%;
        display: block;
        position: relative;
        padding-top: 56.9%;
    }

    &__image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    &__title {
        $font-size: 14;
        font-weight: bold;
        font-size: em($font-size);
        line-height: em(18, $font-size);
        margin-bottom: em(10, $font-size);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        a {
            color: currentColor;
            &:hover, &:focus {
                text-decoration: underline;
            }
        }
    }

    &__price {
        $font-size: 12;
        display: inline-block;
        font-size: em($font-size);
        line-height: em(16, $font-size);
        border-radius: em(3, $font-size);
        padding: em(3, $font-size) em(4, $font-size);
        margin-bottom: em(4, $font-size);
        background-color: #F7F6FA;
    }

    &__price-desc {
    }

    &__price-value {
        white-space: nowrap;
        span {
            font-size: em(14, 12);
            $font-size: 14;
            line-height: em(18, $font-size);
            font-weight: bold;
        }
    }

    &__metadata {
        $font-size: 12;
        font-size: em($font-size);
        line-height: em(16, $font-size);
        display: flex;
        align-items: center;
        svg {
            flex: 0 0 auto;
            width: em(19, $font-size);
            height: em(19, $font-size);
            margin-right: em(6, $font-size);
            color: #B5B6BC;
        }
    }
}

.product-item--list .product-item {
    &__inner {
        display: flex;
    }
    &__head {
        flex: 0 0 42.44%;
    }
    &__body {
        padding: em(20) em(30) em(28);
    }
    &__image-container {
        padding-top: 56.9%;
    }
    &__title {
        $font-size: 18;
        font-size: em($font-size);
        line-height: em(24, $font-size);
        margin-bottom: em(10, $font-size);
        max-height: em(46, $font-size);
        white-space: initial;
        /* autoprefixer: ignore next */
        display: -webkit-box;
        /* autoprefixer: ignore next */
        -webkit-line-clamp: 2;
        /* autoprefixer: ignore next */
        -webkit-box-orient: vertical;
    }
    &__price {
        $font-size: 12;
        margin-bottom: em(22, $font-size);
    }
    &__metadata:not(:last-child) {
        $font-size: 12;
        margin-bottom: em(10, $font-size);
    }
}

.product-item--large .product-item {
    &__inner {
        display: flex;
        flex-direction: row-reverse;
    }
    &__head {
        flex: 0 0 60.99%;
    }
    &__body {
        padding: em(30);
    }
    &__image-container {
        padding-top: 69.36%;
    }
    &__title {
        $font-size: 18;
        font-size: em($font-size);
        line-height: em(24, $font-size);
        margin-bottom: em(35, $font-size);
        max-height: em(69, $font-size);
        white-space: initial;
        /* autoprefixer: ignore next */
        display: -webkit-box;
        /* autoprefixer: ignore next */
        -webkit-line-clamp: 3;
        /* autoprefixer: ignore next */
        -webkit-box-orient: vertical;
    }
    &__price {
        $font-size: 12;
        margin-bottom: em(10, $font-size);
    }
    &__price-desc {
        display: none;
    }
    &__metadata:not(:last-child) {
        $font-size: 12;
        margin-bottom: em(10, $font-size);
    }
}

.product-item--preview .product-item {
    &__image-container {
        padding-top: 62.26%;
    }
    &__title::after {
        content: '';
        display: block;
        height: em(3);
        max-width: em(70);
        margin-top: em(3);
        background-image: linear-gradient(to right, #E84244 0%, #544F9C 100%);
    }
}



@media (max-width: 1199px) {
    .product-item--large .product-item__title {
        $font-size: 16;
        font-size: em($font-size);
        max-height: em(62, $font-size);
    }
}

@media (max-width: 767px) {
    .product-item--large .product-item,
    .product-item--list .product-item {
        &__inner {
            display: block;
        }
        &__body {
            padding: em(10);
        }
        &__image-container {
            height: auto;
            padding-top: 56.9%;
        }
        &__title {
            $font-size: 14;
            font-size: em($font-size);
            line-height: em(18, $font-size);
            margin-bottom: em(10, $font-size);
            white-space: nowrap;
            /* autoprefixer: ignore next */
            display: block;
            /* autoprefixer: ignore next */
            -webkit-line-clamp: initial;
            /* autoprefixer: ignore next */
            -webkit-box-orient: initial;
        }
        &__price {
            $font-size: 12;
            margin-bottom: em(4, $font-size);
        }
        &__metadata:not(:last-child) {
            margin-bottom: 0;
        }
    }
    .product-item--large .product-item {
        &__price-desc {
            display: initial;
        }
    }
}
