.production {
    &__image-container {
        display: block;
        position: relative;
        padding-top: 52.745%;
        border-radius: em(4);
        overflow: hidden;
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
    }
}
