.radio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    border-spacing: 0;
    touch-action: manipulation;

    &__control {
        &:not(:checked) + .radio__label .radio__tick {
            display: none;
        }

        &:disabled + .radio__label {
            cursor: default;
            color: #979797;
        }

        &:disabled + .radio__label .radio__box {
            background-color: #e6e6e6;
            color: #bababa;
        }

        &:focus + .radio__label .radio__box {
            outline: 1px solid #0078d7;
            /* autoprefixer: ignore next */
            outline: -webkit-focus-ring-color auto 5px;
        }
    }

    &__box {
        flex: 0 0 auto;
        background-color: white;
        user-select: none;
        margin-right: em(12);
        position: relative;
        width: em(20);
        height: em(20);
        border: em(1.3) solid currentColor;
        border-radius: 100%;
    }

    &__tick {
        display: inline-block;
        width: em(10);
        height: em(10);
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: currentColor;
    }

    &__label {
        cursor: pointer;
        display: inline-flex;
        margin-bottom: 0;
    }

    &__text {
        $font-size: 14;
        font-size: em($font-size);
        line-height: em(20, $font-size);
        display: inline-block;
        color: inherit;
        a {
            font-size: em(14, $font-size);
            $font-size: 14;
            line-height: em(18, $font-size);
            color: #0D0D0D;
            text-decoration: underline;
            &:hover, &:focus {
                color: currentColor;
                text-decoration: none;
            }
        }
        &--sm {
            font-size: 12px;
            line-height: 16px;
            a {
                font-size: 14px;
                line-height: 18px;
            }
        }
        &--italic {
            font-style: italic;
        }
        &--color-gray {
            color: #6C6D79;
        }
    }
}

.radio--size-s { font-size: em(14); }
.radio--size-m { font-size: em(16); }
.radio--size-l { font-size: em(18); }

.radio--theme-default {
    .radio__control {
        &:not(:disabled):active + .radio__label .radio__box { color: #E84244; background-color: #E84244; }
        &:not(:checked) + .radio__label .radio__box {
            color: #E5E5E5;
            background-color: #fff;
        }
        &:not(:checked):disabled + .radio__label .radio__box { background-color: #F7F6FA; color: #bababa; }
        &:disabled + .radio__label .radio__box { background-color: #F7F6FA; color: #bababa; }
    }
    .radio__control:not(:disabled):not(:checked) + .radio__label:hover .radio__box {
        color: #E84244;
        background-color: #FFE8EC;
    }
    .radio__control:not(:disabled) + .radio__label:hover .radio__box {
        color: darken(#E84244, 20%);
        background-color: #fff;
    }
    .radio__box {
        color: #E84244;
        background-color: #fff;
    }
}
