.review-item {
    height: 100%;

    &__inner {
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        background-color: #fff;
        border-radius: em(4);
        box-shadow: 0 0 em(20) rgba(#C6CED7, .4);
        padding: em(30);
    }

    &__header {
    }

    &__main {
        flex: 1 1 auto;
    }

    &__footer {
    }

    &__title {
        $font-size: 18;
        display: inline-block;
        font-weight: bold;
        font-size: em($font-size);
        line-height: em(24, $font-size);
        margin-bottom: em(10, $font-size);
    }

    &__city {
    }

    &__text {
        $font-size: 14;
        font-size: em($font-size);
        margin-bottom: em(18, $font-size);
        color: #333;
    }

    &__metadata {
        $font-size: 12;
        font-size: em($font-size);
        line-height: em(16, $font-size);
        display: flex;
        align-items: center;
        svg {
            flex: 0 0 auto;
            width: em(19, $font-size);
            height: em(19, $font-size);
            margin-right: em(6, $font-size);
            color: #B5B6BC;
        }
        &:not(:last-child) {
            margin-bottom: em(7, $font-size);
        }
    }

    &__metadata-link {
        font-size: em(14, 12);
        $font-size: 14;
        line-height: em(18, $font-size);
        text-decoration-line: underline;
        color: currentColor;
        &[href]:hover, &[href]:focus {
            text-decoration-line: none;
            color: currentColor;
        }
    }
}


@media (max-width: 575px) {
    .review-item__inner {
        padding: em(15);
    }
}
