.section-swiper {
    &__inner {
    }

    &__swiper {
        position: relative;
        .swiper-button-prev,
        .swiper-button-next {
            position: initial;
            transform: none;
            margin: 0 auto;
        }
    }

    &__pagination-container {
        height: em(24);
        position: relative;
        .swiper-pagination {
            bottom: 0;
        }
        .swiper-pagination-bullets-dynamic {
            bottom: 6px;
        }
    }
}
