.section-projects {
    &__list {
        margin-bottom: em(-30);
    }

    &__list-item {
        margin-bottom: em(30);
    }

    &__list-item:first-child .product-item {
        @extend .product-item--large;
    }
}


@media (min-width: 768px) {
    .section-projects__list .product-item__image-container {
        padding-top: 61.502%;
    }
}

@media (max-width: 767px) {
    .section-projects__button {
        width: auto !important;
        min-width: initial !important;
    }
}
