.section-decoration {
    overflow: hidden;

    &__inner {
        position: relative;
    }

    &__image {
        position: absolute;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        pointer-events: none;
    }

    &__image--1 {
        bottom: em(-7);
        left: em(-84);
        width: em(195);
        height: em(167);
        background-image: url(../../../img/decoration/decor-1.svg);
    }

    &__image--2 {
        top: em(30);
        right: em(-80);
        width: em(208);
        height: em(351);
        background-image: url(../../../img/decoration/decor-2.svg);
    }

    &__image--3 {
        z-index: -1;
        top: em(24);
        left: em(-157);
        width: em(222);
        height: em(263);
        background-image: url(../../../img/decoration/decor-3.svg);
    }

    &__image--4 {
        z-index: -1;
        top: em(74);
        right: em(-111);
        width: em(202);
        height: em(237);
        background-image: url(../../../img/decoration/decor-4.svg);
    }

    &__image--5 {
        bottom: em(98);
        left: em(-117);
        width: em(231);
        height: em(129);
        background-image: url(../../../img/decoration/decor-5.svg);
    }

    &__image--6 {
        top: em(8);
        right: em(-119);
        width: em(208);
        height: em(116);
        background-image: url(../../../img/decoration/decor-6.svg);
    }

    &__image--7 {
        bottom: em(75);
        right: em(-91);
        width: em(208);
        height: em(116);
        background-image: url(../../../img/decoration/decor-7.svg);
    }

    &__image--8 {
        z-index: -1;
        bottom: em(140);
        right: em(-89);
        width: em(202);
        height: em(237);
        background-image: url(../../../img/decoration/decor-8.svg);
    }

    &__image--9 {
        top: em(20);
        right: em(-125);
        width: em(208);
        height: em(196);
        background-image: url(../../../img/decoration/decor-9.svg);
    }

    &__image--10 {
        z-index: -1;
        top: em(148);
        right: em(-100);
        width: em(202);
        height: em(398);
        background-image: url(../../../img/decoration/decor-10.svg);
    }
}


@media (max-width: 1199px) {
    .section-decoration__image {
        font-size: 12px;
    }
}
