.section-technology {
    &__box {
        background-color: #F7F6FA;
    }

    &__tabbed-list {
        .tabbed__button .button__text {
            $font-size: 18;
            font-size: em($font-size);
            line-height: em(24, $font-size);
        }
    }

    &__image-container {
        position: relative;
        padding-top: 83.128%;
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}


@media (max-width: 1199px) {
    .section-technology__tabbed-list {
        .tabbed__button .button__text {
            $font-size: 16;
            font-size: em($font-size);
        }
    }
}

@media (max-width: 991px) {
    .section-technology__tabbed-list {
        .tabbed__button .button__text {
            $font-size: 14;
            font-size: em($font-size);
        }
    }
}
