.section-info {
    .section-decoration__image--5 {
        left: em(-127);
        bottom: em(25);
    }

    &__button {
        position: relative;
        z-index: 1;
    }

    &__inner {
        background-color: #F7F6FA;
    }

    &__inner--white {
        background-color: #fff;
    }

    &__content {
        h3 {
            $font-size: 18;
            font-weight: bold;
            font-size: em($font-size);
            line-height: em(24, $font-size);
            margin-bottom: em(10, $font-size);
        }
        p {
            $font-size: 14;
            font-size: em($font-size);
            line-height: em(20, $font-size);
            color: #333;
        }
        a {
            color: #E84244;
            &:hover ,&:focus {
                color: #E84244;
            }
        }

    }
}


.section-info--prod {
    .section-decoration__image--3 {
        top: em(-20);
        left: em(-167);
        bottom: initial;
    }
    .section-decoration__image--5 {
        bottom: em(-14);
    }
}
