.section-requisites {
    &__text {
        font-weight: normal;
        line-height: em(24);
        margin-bottom: em(24);
    }

    &__text--accent {
        $font-size: 18;
        font-weight: bold;
        font-size: em($font-size);
        line-height: em(24, $font-size);
        margin-bottom: em(25, $font-size);
    }
}
