.section-news {
    &__list {
        display: grid;
        grid-template-columns: auto 350px;
        grid-row-gap: 20px;
        grid-column-gap: 30px;

        .news-item {
            min-width: 100%;
        }

        .news-item:nth-of-type(3n+2) {
            grid-row: span 2
        }

        .news-item:not(:nth-of-type(3n+2)) {
            @extend .news-item--list;
        }
    }
}


@media (max-width: 1199px) {
    .section-news__list {
        grid-template-columns: auto 315px;
    }
}

@media (max-width: 991px) {
    .section-news__list {
        grid-template-columns: 1fr 1fr;
        .news-item:nth-of-type(3n+2) {
            grid-row: initial;
        }
    }
    .section-news .news-item--list .news-item {
        &__inner {
            flex-direction: column;
        }
        &__body {
            padding: em(30) em(30) em(20);
        }
        &__image-container {
            height: auto;
            padding-top: 56.9%;
        }

        &__description {
            $font-size: 14;
            max-height: em(80, $font-size);
            /* autoprefixer: ignore next */
            -webkit-line-clamp: 4;
        }
    }
}

@media (max-width: 767px) {
    .section-news__list {
        grid-template-columns: initial;
        .news-item__body {
            padding: em(10) !important;
        }
    }
}
