.section-intro {
    &__inner {
        background-color: #fff;
    }

    &__image-container {
        position: relative;
        padding-top: 59.701%;
        height: 100%;
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        border-radius: em(3);
    }

    &__price {
        display: inline-block;
        line-height: em(24);
        border-radius: em(3);
        padding: em(3) em(7);
        margin-bottom: em(4);
        background-color: #333333;
        color: #fff;
    }

    &__price-value {
        white-space: nowrap;
        span {
            $font-size: 24;
            font-size: em($font-size);
            line-height: em(31, $font-size);
            font-weight: bold;
        }
    }

    &__metadata {
        $font-size: 14;
        font-size: em($font-size);
        line-height: em(20, $font-size);
        display: flex;
        align-items: center;
        svg {
            flex: 0 0 auto;
            width: em(21, $font-size);
            height: em(21, $font-size);
            margin-right: em(6, $font-size);
            color: #B5B6BC;
        }
    }

    &__text {
        line-height: em(24);
        color: #333;
    }

    .swiper-slide {
        opacity: 0 !important;
        background-color: #fff;
    }

    .swiper-slide-active {
        opacity: 1 !important;
    }
}
