.section-faq {
    &__inner {
        background-color: #F7F6FA;
    }

    &__inner--white {
        background-color: #fff;
    }

    .section-decoration__image--3 {
        top: initial;
        bottom: em(179);
        left: em(-138);
    }

    .section-decoration__image--4 {
        top: em(87);
        right: em(-130);
    }

    .section-decoration__image--5 {
        bottom: em(13);
        left: em(-100);
    }

    .section-decoration__image--6 {
        top: em(21);
        right: em(-138);
    }
}
