.section-categories {
    &__list {
        column-count: 4;
        column-gap: 30px;
        position: relative;
    }
    &__list-item {
        display: inline-block;
        width: 100%;
        padding-bottom: em(30);
        break-inside: avoid;
    }
}


@media (max-width: 991px) {
    .section-categories__list {
        column-count: 2;
    }
}

@media (max-width: 575px) {
    .section-categories__list {
        column-count: initial;
    }
}
