.select {
    &__label {
        cursor: pointer;
        display: inline-flex;
        flex-direction: column;
        margin-bottom: 0;
    }
    &__control {
        cursor: pointer;
        height: 100%;
        width: 100%;
        border: em(1) solid #E5E5E5;
        padding-right: em(35);
        background: #fff url('../../../img/icons/arrow-select.svg') no-repeat right 18px center;
        box-shadow: none;
        appearance: none;
        color: inherit;
        &:disabled {
            cursor: not-allowed;
            background-color: #e6e6e6;
            color: #979797;
            filter: grayscale(1);
        }
        &:disabled + .select__text {
            cursor: not-allowed;
            color: #979797;
        }
    }
}

.select--full-w {
    .select__label {
        width: 100% !important;
    }
    .select__control {
        min-width: initial !important;
    }
}


// Sizes
.select--size-s { font-size: em(14); }
.select--size-m { font-size: em(16); }
.select--size-l { font-size: em(18); }


// Themes
.select--theme-default {
    .select__control {
        min-width: em(268);
        padding: em(13) em(35) em(13) em(10);
        border-radius: em(6);
        line-height: em(22);
    }
    .select__text {
        $font-size: 14;
        font-weight: bold;
        font-size: em($font-size);
        line-height: em(18, $font-size);
        padding-bottom: em(10, $font-size);
    }
}

.select--theme-fake {
    .select {
        &__label {
            flex-direction: row;
        }
        &__control-container {
            display: flex;
            align-items: center;
            position: relative;
            padding-right: em(13);
            &::after {
                content: '';
                display: inline-block;
                margin-left: em(5);
                width: em(10);
                height: em(6);
                background: url(../../../img/icons/arrow-select.svg) no-repeat center / contain;
            }
        }
        &__control {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            appearance: none;
            border: 0;
            opacity: 0;
            background: transparent;
            padding: 0 em(10);
        }
        &__value {
            $font-size: 14;
            font-size: em($font-size);
            max-width: em(180, $font-size);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &__text {
            cursor: auto;
            font-size: em(14);
            max-width: em(180);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #6C6D79;
        }
    }
}
