.service-swiper {
    &__inner {
        background-color: #F7F6FA;
    }

    &__title {
        $font-size: 18;
        font-weight: bold;
        font-size: em($font-size);
        line-height: em(24, $font-size);
        margin-bottom: em(10, $font-size);
    }

    &__text {
        $font-size: 14;
        font-size: em($font-size);
        line-height: em(20, $font-size);
        margin-bottom: em(21, $font-size);
        color: #333;
    }

    .swiper-slide .card-service__inner {
        box-shadow: 0 0 em(8) rgba(#C6CED7, .4);
    }

    .swiper-slide .review-item__inner {
        box-shadow: 0 0 em(8) rgba(#C6CED7, .4);
    }

    .section-decoration__image--3 {
        top: em(46);
    }
    .section-decoration__image--4 {
        top: em(67);
    }
    .section-decoration__image--5 {
        bottom: em(46);
    }
    .section-decoration__image--6 {
        top: em(1);
    }
}


.service-swiper__inner--height {
    .section-decoration__image--3 {
        top: initial;
        bottom: em(201);
        left: em(-167);
    }
    .section-decoration__image--4 {
        top: em(80);
        right: em(-101);
    }
    .section-decoration__image--5 {
        left: em(-127);
        bottom: em(40);
    }
    .section-decoration__image--6 {
        top: em(14);
        right: em(-109);
    }
}
