.social-networks {
    &__list {
        display: flex;
        align-items: center;
    }

    &__list-item:not(:last-child) {
        margin-right: em(14);
    }

    &__link {
        display: block;
        width: em(24);
        height: em(24);
        color: #6C6D79;
        &:hover, &:focus {
            color: #EC4D4B;
        }
    }

    &__svg {
        width: 100%;
        height: 100%;
    }
}
