.tabbed {
    &__list {
    }

    &__list-item {
    }

    &__button {
    }

    &__button--min-w-155 {
        min-width: em(155);
    }

    &__button[aria-selected] {
    }
}

.tabbed--fox {
    .tabbed {
        &__list {
            margin-bottom: em(10);
        }
        &__button {
            min-width: em(150);
            position: relative;
            padding: em(10);
            transition: border-bottom-color .1s ease-in, color .1s ease-in;
            &::after {
                opacity: 0;
                content: '';
                position: absolute;
                z-index: 1;
                bottom: 0;
                left: 50%;
                display: block;
                width: em(20);
                height: em(14);
                transform: translate(-50%, 100%);
                background: url(../../../img/icons/tail.svg) no-repeat center / contain;
            }
            &[aria-selected] {
                color: #E84244;
                &::after { opacity: 1; }
            }
        }
        &__button .button__text {
            $font-size: 14;
            font-weight: bold;
            font-size: em($font-size);
            line-height: em(18, $font-size);
        }
        &__section {
            background-color: #fff;
            box-shadow: 0 0 em(20) rgba(#C6CED7, .4);
            border-radius: em(4);
        }
    }
}


.tabbed__list--numeric {
    counter-reset: item;
    .tabbed__button {
        position: relative;
        border-bottom: 1px solid #E5E5E5;
        padding-left: em(44);
        display: flex;
        text-align: left;
        min-height: em(66);
        padding-right: em(16);
        &::before {
            content: counter(item, decimal-leading-zero) ". ";
            counter-increment: item;
            font-family: 'Montserrat', sans-serif;
            font-style: normal;
            font-weight: 600;
            $font-size: 24;
            font-size: em($font-size);
            line-height: em(29, $font-size);
            position: absolute;
            left: 0;
            color: #6C6D79;
        }
        &::after {
            content: '';
            width: em(6);
            height: em(10);
            position: absolute;
            right: em(6);
            top: 50%;
            transform: translateY(-50%);
            background: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.75 9.52574C0.75 9.79301 1.07314 9.92686 1.26213 9.73787L5.64645 5.35355C5.84171 5.15829 5.84171 4.84171 5.64645 4.64645L1.26213 0.262132C1.07314 0.0731428 0.75 0.206993 0.75 0.474264L0.75 9.52574Z' fill='%236C6D79'/%3E%3C/svg%3E%0A") no-repeat center / contain;
        }
        &:hover, &:focus {
            &::before { color: #E84244; }
            &::after {
                background: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.75 9.52574C0.75 9.79301 1.07314 9.92686 1.26213 9.73787L5.64645 5.35355C5.84171 5.15829 5.84171 4.84171 5.64645 4.64645L1.26213 0.262132C1.07314 0.0731428 0.75 0.206993 0.75 0.474264L0.75 9.52574Z' fill='%23E84244'/%3E%3C/svg%3E%0A") no-repeat center / contain;
            }
        }
        &[aria-selected]::before {
            color: #E84244;
        }
        &[aria-selected]::after {
            background: url("data:image/svg+xml,%3Csvg width='6' height='10' viewBox='0 0 6 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.75 9.52574C0.75 9.79301 1.07314 9.92686 1.26213 9.73787L5.64645 5.35355C5.84171 5.15829 5.84171 4.84171 5.64645 4.64645L1.26213 0.262132C1.07314 0.0731428 0.75 0.206993 0.75 0.474264L0.75 9.52574Z' fill='%23E84244'/%3E%3C/svg%3E%0A") no-repeat center / contain;
        }
        .button__text {
            $font-size: 14;
            font-weight: bold;
            font-size: em($font-size);
            line-height: em(18, $font-size);
        }
    }
}

.tabbed__list--underline {
    .tabbed {
        &__list-item {
            flex: 1 1 auto;
        }
        &__button {
            width: 100%;
            padding: em(10);
            border-bottom: 1px solid #E5E5E5;
            transition: border-bottom-color .1s ease-in, color .1s ease-in;
            .button__text {
                $font-size: 14;
                font-weight: bold;
                font-size: em($font-size);
                line-height: em(18, $font-size);
            }
            &:hover, &:focus {
                color: darken(#E84244, 10%);
                border-bottom-color: darken(#E84244, 10%);
            }
            &[aria-selected] {
                color: #E84244;
                border-bottom-color: #E84244;
            }
        }
    }
}


@media (max-width: 1199px) {
    .tabbed--fox .tabbed {
        &__button {
            min-width: em(110);
        }
    }
}

@media (max-width: 991px) {
    .tabbed--fox .tabbed {
        &__list-item {
            flex: 1 1 auto;
        }
        &__button {
            width: 100%;
            min-width: initial;
        }
    }
}

@media (max-width: 767px) {
    .tabbed--fox .tabbed {
        &__button {
            padding: em(8) em(15);
            border-bottom: 1px solid #E5E5E5;
            &::after { display: none; }
            &:hover, &:focus {
                color: darken(#E84244, 10%);
                border-bottom-color: darken(#E84244, 10%);
            }
            &[aria-selected] {
                color: #E84244;
                border-bottom-color: #E84244;
            }
        }
    }

    .tabbed__list--numeric {
        .tabbed__button {
            min-height: em(44);
            padding-left: em(34);
            &::before {
                font-size: em(18);
            }
        }
    }
}
