.tag-cloud {
    &__list {
        display: flex;
        flex-wrap: wrap;
        &--single-line {
            overflow: hidden;
            height: em(30);
        }
    }

    &__list-item {
        color: #333333;
        margin-right: em(10);
        margin-bottom: em(10);
    }

    &__link {
        $font-size: 14;
        display: inline-flex;
        align-items: center;
        font-size: em($font-size);
        line-height: em(20, $font-size);
        height: em(30, $font-size);
        padding: 0 em(6, $font-size);
        border-radius: em(4, $font-size);
        background-color: #F7F6FA;
        color: currentColor;
        &:hover, &:focus {
            background-color: #E9E9E9;
            color: currentColor;
            text-decoration: none;
        }
    }
}
