.text {
    &--accent {
        font-style: italic;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        white-space: nowrap;
        color: #E84244;
    }

    &--decor {
        font-style: italic;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        color: #333;
    }
}


@media (max-width: 991px) {
    .title--accent {
        font-size: 12px;
    }
    .title--decor {
        font-size: 12px;
    }
}
