.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    word-break: break-word;
    line-height: 1.25;
    margin-bottom: em(14);

    &--sm { font-size: em(24); }
    &--md { font-size: em(36); }
}


@media (max-width: 991px) {
    .title {
        &--sm { font-size: em(20); }
        &--md { font-size: em(28); }
    }
}

@media (max-width: 575px) {
    .title {
        &--md { font-size: em(18); }
        &--md { font-size: em(24); }
    }
}
