.video {
    &__inner {
    }

    &__box {
        position: relative;
        padding-top: 58.75%;
    }

    &__control {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #000;
    }
}
