.view-list {
    &__button {
        flex: 0 0 auto;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: em(24);
        height: em(24);
        border-radius: em(3);
        background-color: #F7F6FA;
        color: #6C6D79;
        &:not(:disabled) {
            &:hover, &:focus {
                color: darken(#E84244, 13%);
            }
        }
        &:disabled {
            cursor: initial;
            color: #E84244;
        }
        &:not(:last-child) {
            margin-right: em(20);
        }
    }
}
