.visually-hidden {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}
