<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png?v=rMJ9daoYdY">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png?v=rMJ9daoYdY">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png?v=rMJ9daoYdY">
<link rel="manifest" href="/favicon/site.webmanifest?v=rMJ9daoYdY">
<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg?v=rMJ9daoYdY" color="#5bbad5">
<link rel="shortcut icon" href="/favicon/favicon.ico?v=rMJ9daoYdY">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-config" content="/favicon/browserconfig.xml?v=rMJ9daoYdY">
<meta name="theme-color" content="#ffffff">